<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form class="form-signin" th:action="@{/member/signIn}" method="post">
  <a th:href="@{/}">home</a>
  <h1>Please sign in</h1>
  <div th:if="${param.error}" class="alert alert-danger" role="alert">
    Invalid username and password.
  </div>
  <div th:if="${param.logout}" class="alert alert-primary" role="alert">
    You have been logged out.
  </div>
  <label for="username">Username</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>