<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <!-- Required meta tags -->
    <title>효빈 커뮤니티</title>
    <meta charset="UTF-8">
    <!-- Custom styles for this template -->
</head>
<header>
    <div class="container">
        <div>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-xl-start mb-md-0">
                <li><a href="/">홈</a></li>
                <li><a href="/board">게시판</a></li>
            </ul>

            <div class="text-end my-2">
                <form th:action="@{'/member/signIn'}" sec:authorize="isAnonymous()">
                    <button type="submit" class="btn btn-outline-light me-2">로그인</button>
                </form>
            </div>
            <div class="my-2">
                <form th:action="@{'/member/signUp'}" sec:authorize="isAnonymous()">
                    <button type="submit" class="btn btn-warning" sec:authorize="isAnonymous()">회원가입</button>
                </form>
            </div>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
<!--            <div class="my-2">-->
<!--                <a class="btn btn-outline-warning" th:href="@{/board(myPost=${1})}" role="button"sec:authorize="isAuthenticated()">-->
<!--                    내 게시물 보기-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
</header>